/*usar para comentar*/

/*
----------------------------------------
ESTRUTURA BASE
----------------------------------------
**** DECLARAÇÃO DE VARIAVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
*/

/*----------FORMATAÇÃO DE IMAGENS COM LEGENDAS------------*/

figure .foto-legenda{
    border: 5px solid rgb(156, 0, 0);
    box-shadow:1px 1px 4px black;
} 



/*---------- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX ------------*/

:root{
    --corBackgroundPrincipal: #eeeaea;
}

p{
    text-align:justify;
    text-indent:50px;
    color: rgb(68, 64, 64);
}

hgroup{
    background-color: rgb(212, 203, 203);
}

div{
    background-color:var(--corBackgroundPrincipal)
}
